.coba-sekarang{
  display: flex;
  margin-top: 20px;
}
.pen-head{
  margin-top: 20px;
  line-height: 30px;
}
.text-head{
  font-size: 38px;
  line-height:50px;
}
.bulat{
  top: 0;
  right: 0;
  width: 770px;
  position:absolute;
  float: right;
  z-index: -1;
}
.kanan {
  margin-top: 40px;
  width: 65%;
}
.kiri {
  margin-top: 160px;
  width: 70%;
}
.flex {
  display: flex;
  z-index: 2;
}
